# Fichiers système
.DS_Store
Thumbs.db
.env
.env.local

# Node modules (si vous installez des dépendances plus tard)
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs/
*.log

# Fichiers temporaires
*.tmp
*.bak
*.swp
*.swo

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Fichiers de build
dist/
build/

# Package managers
.pnp
.pnp.js
