@font-face {
  font-family: "DM sans";
  src: url("./DM_Sans/DMSans-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "DM sans";
  src: url("./DM_Sans/DMSans-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "DM sans";
  src: url("./DM_Sans/DMSans-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "DM sans";
  src: url("./DM_Sans/DMSans-Italic.ttf") format("truetype");
  font-style: italic;
}
:root {
  --font-default: "DM sans", "Roboto", sans-serif;
  --font-slab: var(--font-default);
  --modal-duration: 0.8s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: var(--font-default);
  font-size: 18px;
  padding: 0 100px;
  max-width: 1440px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

body.modal-open {
  background-color: #ffffff;
}

.topnav {
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 50.1px;
  margin: 52.9px 0 84px;
  width: 100%;
  overflow: hidden;
  margin: 3.5%;
}

.header-logo {
  width: 277px;
  height: 49.56px;
  float: left;
}

.header-logo img {
  width: 277px;
  height: 49.86px;
}

.main-navbar {
  display: flex;
  flex-flow: row nowrap;
  float: right;
  transition: transform 0.3s ease-in-out;
}

.topnav .main-navbar a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 9px 13px;
  margin-left: 12px;
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  line-height: 23.44px;
  height: 23px;
  border-radius: 8px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 23.44px;
}

.topnav .main-navbar a:hover {
  background-color: #fe142f;
  color: #ffffff;
  height: 41px;
  position: relative;
}

.topnav a:hover::after {
  content: "";
  position: absolute;
  bottom: 9px;
  left: 10px;
  right: 10px;
  height: 1px;
  background-color: rgb(255, 255, 255);
}

.topnav a.active {
  background-color: #fe142f;
  color: #ffffff;
  height: 41px;
  position: relative;
}

.topnav a:active {
  border-radius: 15px;
}

.topnav a.active::after,
.main-navbar a:nth-child(2)::after {
  content: "";
  position: absolute;
  bottom: 9px;
  left: 10px;
  right: 10px;
  height: 1px;
  background-color: rgb(255, 255, 255);
}

.main-navbar a:nth-child(1) {
  display: none;
}

.main-navbar a:nth-child(2) {
  background-color: #fe142f;
  color: #ffffff;
  height: 41px;
  position: relative;
}

.main-navbar a:nth-child(3) {
  margin-left: 13px;
}

.main-navbar a:nth-child(4) {
  margin-left: -4px;
}

.main-navbar a:last-child {
  margin-left: -1px;
}

.topnav .icon {
  display: none;
}

main {
  font-size: 130%;
  font-weight: bolder;
  color: black;
  padding: 0;
  margin: 0 0 39px;
  border-radius: 8px;
  text-align: justify;
}

.hero-section {
  min-height: 657px;
  border-radius: 10px;
  display: grid;
  overflow: hidden;
  box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-flow: row nowrap;
}

.hero-content {
  padding: 53px 56px 70px;
  grid-column: span 4;
  background: #232323;
  color: #fff;
  position: relative;
  text-align: left;
  width: 41.13%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: start;
}

.hero-content::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #232323;
  position: absolute;
  top: 0;
  z-index: -1;
}

.hero-content > * {
  position: relative;
  z-index: 1;
}

.hero-headline {
  font-size: 96px;
  font-weight: 500;
  line-height: 124.99px;
  white-space: nowrap;
  letter-spacing: 0;
  height: 240px;
  font-family: "DM Sans", sans-serif;
  display: inline;
  vertical-align: text-top;
}

.hero-text {
  width: 430px;
  font-weight: 400;
  margin-top: 73px;
  font-family: var(--font-default);
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0;
}

.modal-btn,
.modal-btn-secondary {
  outline: none;
  font-size: 25px;
  line-height: 32.55px;
  font-weight: 500;
  letter-spacing: 0;
  padding: 11px 30px;
  margin-top: 73px;
  font-family: "DM Sans", sans-serif;
  background: #fe142f;
  cursor: pointer;
  color: #fff;
  border-radius: 8px;
  text-transform: capitalize;
  border: none;
}

.hero-img {
  width: 58.873%;
}

.hero-img img {
  width: 100%;
  height: 100%;
  display: block;
  padding: 0;
  border-radius: 8px;
  -o-object-fit: cover;
  object-fit: cover;
}

.modal-btn:hover {
  background: #3876ac;
}

.modal-btn-secondary {
  display: none;
}

.bground {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
}

.content {
  margin: 5% auto;
  width: 100%;
  max-width: 536px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  background: #232323;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding-top: 10px;
}

.modal-body {
  padding: 15px 8%;
  margin: 15px auto;
}

label {
  font-family: var(--font-default);
  font-size: 14px;
  font-weight: normal;
  display: inline-block;
  margin-bottom: 17.07px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0;
  text-align: justify;
  margin-top: 11.65px;
}

input {
  padding: 8px;
  border: 0.8px solid #ccc;
  outline: none;
}

.text-control {
  margin: 0;
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  font-size: 18px;
  height: 64.73px;
  font-family: var(--font-default);
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0;
  text-align: justify;
}

.formData:nth-child(7) {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 25px;
  row-gap: 7.77px;
  margin-bottom: 19.42px;
}

.formData[data-error]::after {
  content: attr(data-error);
  color: #ff4e60;
  display: block;
  margin-top: 5px;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
  font-family: Roboto;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.43;
  letter-spacing: 0;
}

.formData[data-error-visible="true"]::after {
  opacity: 1;
}

.formData[data-error-visible="true"] .text-control {
  border: 2px solid #ff4e60;
}

.error-message {
  display: none;
  color: #ff4e60;
  font-size: 0.8em;
  margin-top: 5px;
}

.formData[data-error-visible="true"] .error-message {
  display: block;
}

.checkbox-label {
  position: relative;
  margin: 0;
  font-size: 12px;
  font-family: Roboto;
  font-weight: 400;
  letter-spacing: 0;
  height: 25.89px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.formData:nth-child(7) .checkbox-label .checkbox-icon {
  position: relative;
  display: block;
  width: 24.73px;
  height: 24.89px;
  border: 1px solid #c4c4c4;
  border-radius: 100%;
  white-space: nowrap;
  transition: 0.3s;
}

.formData:nth-child(7) .checkbox-label .checkbox-icon::after {
  content: "";
  width: 17.16px;
  height: 17.26px;
  background-color: #279e7a;
  border-radius: 100%;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  opacity: 0;
}

.formData:nth-child(8) {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 8.52px;
  margin-bottom: 19.35px;
}

.checkbox2-label {
  margin: 0;
  font-size: 12px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0;
  height: 25.55px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8.49px;
}

.formData:nth-child(8) .checkbox2-label .checkbox2-icon {
  position: relative;
  display: block;
  width: 25.48px;
  height: 25.55px;
  border: none;
  white-space: nowrap;
  transition: 0.3s;
  background-color: #c4c4c4;
  border-radius: 6px;
}

.formData:nth-child(8) .checkbox2-label .checkbox2-icon::after {
  content: "";
  width: 4px;
  height: 10px;
  background: transparent;
  border: 2.5px solid transparent;
  border-top-color: #fff;
  border-left-color: #fff;
  transform: rotate(225deg) scale(1);
  left: 37%;
  top: 19%;
  position: absolute;
  opacity: 0;
}

.checkbox-input {
  display: none;
}

.checkbox-input:checked + .checkbox-label .checkbox-icon::after,
.checkbox-input:checked + .checkbox2-label .checkbox2-icon::after {
  opacity: 1;
}

.checkbox-input:checked + .checkbox2-label .checkbox2-icon {
  background-color: #279e7a;
}

.checkbox-input:checked + .checkbox-label .checkbox-icon {
  border-color: #279e7a;
}

.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #fff;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.btn-submit {
  background: #fe142f;
  display: block;
  margin: 0 auto;
  border-radius: 7px;
  padding: 11.07px 56.275px;
  color: #fff;
  cursor: pointer;
  border: 0;
  font-family: var(--font-default);
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
  height: 40.14px;
}

footer {
  font-family: var(--font-slab);
  width: 100%;
  margin: 60px 0 30px;
}

.text-label {
  margin: 11.39px 0 13.33px;
  font-family: var(--font-default);
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: justify;
}

.copyrights {
  color: #fe142f;
  padding: 0;
  font-size: 1rem;
  font-weight: bolder;
  margin-left: -60px;
}

.confirmation-message {
  text-align: center;
  font-size: 1.5em;
  color: #fff;
}

.text-reward {
  height: 734.19px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-close-modal {
  background: #fe142f;
  display: block;
  margin: 0 auto;
  border-radius: 7px;
  padding: 11.07px 56.275px;
  color: #fff;
  cursor: pointer;
  border: 0;
  font-family: var(--font-default);
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
  height: 40.14px;
}

.btn-close-modal:hover {
  background: #3876ac;
}

@media screen and (max-width: 1150px) {
  body {
    margin: 0;
    padding: 0 30px;
  }
  .topnav .header-logo {
    width: 131.97px;
    height: 23.76px;
  }
  .topnav .header-logo img {
    width: 100%;
    height: 100%;
  }
  .topnav .main-navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .topnav .main-navbar a {
    font-size: 16px;
    height: auto;
  }
  .topnav .icon {
    display: none;
  }
  .hero-section {
    min-height: unset;
  }
  .hero-content {
    padding: 30px 30px 40px;
  }
  .hero-headline {
    font-size: 70px;
    height: 165px;
    line-height: 80px;
  }
  .hero-text {
    font-size: 18px;
    margin-top: 30px;
    width: 320px;
  }
  .modal-btn {
    font-size: 22px;
    margin-top: 30px;
  }
  footer {
    margin: 20px 20px 15px 20px;
  }
  .copyrights {
    margin-left: 0;
  }
}
@media screen and (max-width: 768px) {
  .topnav {
    margin: 27px 0 28.24px;
    height: 24px;
  }
  .topnav .header-logo {
    width: 131.97px;
    height: 23.76px;
  }
  .topnav .header-logo img {
    width: 100%;
    height: 100%;
  }
  .topnav .main-navbar a {
    display: none;
  }
  .topnav .icon {
    height: 19px;
    width: 19px;
    color: #fe142f;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
  }
  .topnav .icon svg {
    width: 100%;
    height: 13.5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    overflow: hidden;
  }
  .topnav.responsive {
    position: relative;
    overflow: visible;
    display: block;
    height: auto;
  }
  .topnav.responsive .header-logo {
    float: left;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive .main-navbar {
    float: right;
    display: flex;
    height: 300px;
    background-color: #fff;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    width: 235px;
    padding-top: 20px;
  }
  .topnav.responsive .main-navbar a {
    display: block;
    height: 47px;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 100%;
    margin: 5px;
    padding: 12px;
  }
  .topnav.responsive .main-navbar a:active {
    background-color: #ff0000;
    color: #ffffff;
    border-radius: 15px;
  }
  .topnav.responsive .main-navbar a span {
    font-size: 19px;
    height: 22px;
  }
  .topnav.responsive .main-navbar a.active::after,
  .topnav.responsive .main-navbar a::after {
    display: none;
  }
  .topnav.responsive .main-navbar a:nth-child(2) {
    background-color: #fff;
    color: #000;
  }
  .topnav.responsive .main-navbar a:nth-child(2):hover {
    background-color: #ff0000;
    color: #ffffff;
  }
  .hero-section {
    display: block;
    box-shadow: unset;
    min-height: unset;
    margin-bottom: 0;
  }
  .hero-section > .modal-btn-secondary {
    display: block;
    margin: 29px auto 0;
    padding: 6.2px 31.5px 6.8px;
    font-size: 14px;
    line-height: 18.23px;
    font-weight: 500;
    letter-spacing: 0;
  }
  .hero-content {
    background: #fff;
    color: #000;
    padding: 0;
    min-width: unset;
    width: 100%;
  }
  .hero-content::after {
    content: unset;
  }
  .hero-content .btn-signup {
    display: none;
  }
  .hero-headline {
    font-size: 40px;
    white-space: normal;
    line-height: 52.08px;
    font-weight: 500;
    width: 100%;
    min-width: 0;
  }
  .hero-text {
    width: 100%;
    font-size: 13px;
    font-weight: 400;
    line-height: 16.93px;
    letter-spacing: 0;
    margin-top: 17px;
  }
  .hero-img {
    margin-top: 40px;
    width: 100%;
    height: 100%;
  }
  .hero-section > .modal-btn-secondary {
    display: block;
    margin: 29px auto 0;
    padding: 6.2px 31.5px 6.8px;
    font-size: 14px;
    line-height: 18.23px;
    font-weight: 500;
    letter-spacing: 0;
  }
  footer {
    margin: 29px auto 0;
    padding-bottom: 26px;
  }
  .copyrights {
    text-align: center;
    font-size: 10px;
    font-weight: 500;
    line-height: 11.72px;
    letter-spacing: 0;
    font-family: "Roboto", sans-serif;
    height: 12px;
  }
  main {
    width: 100%;
    margin: 0;
  }
  .hero-section {
    display: block;
    box-shadow: unset;
    min-height: unset;
    margin-bottom: 0;
  }
  .hero-content {
    background: #fff;
    color: #000;
    padding: 0;
    min-width: unset;
    width: 100%;
  }
  .hero-content::after {
    content: unset;
  }
  .hero-content .btn-signup {
    display: none;
  }
  .hero-headline {
    font-size: 40px;
    white-space: normal;
    line-height: 52.08px;
    font-weight: 500;
    width: 100%;
    min-width: 0;
    height: auto;
  }
  .hero-headline br {
    display: none;
  }
  .hero-text {
    width: 100%;
    font-size: 13px;
    font-weight: 400;
    line-height: 16.93px;
    letter-spacing: 0;
    margin-top: 17px;
  }
  .hero-img {
    margin-top: 40px;
    width: 100%;
  }
  .modal-btn-secondary {
    display: block;
    margin: 35px auto 0;
    padding: 15px 60px 15px;
    font-size: 18px;
    line-height: 24.33px;
    font-weight: 500;
    letter-spacing: 0;
  }
  label,
  .text-label {
    margin: 9px 0 10px;
  }
  .text-control {
    height: 50px;
  }
  .formData:nth-child(7) {
    margin-bottom: 15px;
  }
  .formData:nth-child(8) .checkbox2-label .checkbox2-icon {
    width: 19.68px;
    height: 19.74px;
  }
  .formData:nth-child(8) .checkbox2-label .checkbox2-icon::after {
    transform: rotate(225deg) scale(0.9);
    top: 4%;
    left: 30%;
  }
  form .btn-submit {
    width: 141px;
    height: 31px;
    font-family: var(--font-default);
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    padding: 6.2px 35.5px 6.8px;
  }
  .footer {
    margin: 29px auto 0;
    padding-bottom: 26px;
  }
  .copyrights {
    text-align: center;
    font-size: 10px;
    font-weight: 500;
    line-height: 11.72px;
    letter-spacing: 0;
    font-family: "Roboto", sans-serif;
    height: 12px;
  }
}
@media screen and (min-width: 1440px) {
  body {
    margin: 0 auto;
  }
}
@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}
